body{
  padding: 0;
  margin: 0;
}
.header_contenido{
  background-color:  #0c70bf;
  display: flex;
  justify-content: space-around;
}
.header_contenido-amburguesa{
  margin-top: 18px;
  margin-left: 15px;

}

.header_amburguesa{
  border-bottom: solid 2px white;
  width: 22px;
  margin-bottom: 4px;
}
.header_contenido-imagen{
  display: flex;
justify-content: center;
align-items: center;
}
.header_imagenes{
  width: 100px;
  padding-right: 25px;
}

.header_raya{
  border-left: solid 2px white;
  margin: 13px 0px 11px 0px;
}

.economia_contenido{
  position: relative;
  margin-bottom:20px;
 
}

.economia_contenido::before{
  content: '';
  height: 100%;
 
  background: linear-gradient(0deg,#445e76 0,rgba(134,174,204,0) 76%);

}
.economia_parrafo{
  position: absolute;
  bottom: 0;
  padding: 1rem;
  
}

.economia_sub_titulo{
  color: white;
  font-size: 15px;
}
.contenido_link-economia{
  text-decoration: none;
color:white;
border: solid 1px;
padding:3px;
}
.contenido_link-redaccion{
  text-decoration: none;
color:
white;
font-size: 14px;
}
