doctype html
html(lang="es")
  head
    title titulo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel="stylesheet", href="estilo.css")

  body
    div.container
      header
        div.header_contenido
          div.header_contenido-amburguesa
            div.header_amburguesa
            div.header_amburguesa
            div.header_amburguesa
          div.header_raya
          div.header_contenido-imagen
            img.header_imagenes(src="./imagenes/white-logo.webp", alt="")
          div.header_contenido-imagen 
            img.header_imagenes(src="./imagenes/otorongo.webp", alt="")
      main
        div
          h2 Economia
          div.economia_contenido
            img.economia_imagen(src="./imagenes/imagen.jpg", alt="")
            div.economia_parrafo
              a.contenido_link-economia(href="") economia
              h3.economia_sub_titulo Minsa anuncia primera transferencia de S/395.8 Millones para financiar aseguramiento universal
              a.contenido_link-redaccion(href="") redaccion peru 21

        div.economia_construccion-minsa
          
          div.economia_contenido
            img.economia_imagen(src="./imagenes/bandera.jpg", alt="")
            div.economia_parrafo
              a.contenido_link-economia(href="") economia
              h3.economia_sub_titulo Minsa anuncia primera transferencia de S/395.8 Millones para financiar aseguramiento universal
              a.contenido_link-redaccion(href="") redaccion peru 21       


          
          div.economia_contenido
            img.economia_imagen(src="./imagenes/aeropuerto.jpg", alt="")
            div.economia_parrafo
              a.contenido_link-economia(href="") economia
              h3.economia_sub_titulo Iniciaran construccion del Jorge Chaves este año
              a.contenido_link-redaccion(href="") redaccion peru 21        

        div.economia_construccion-minsa
          
          div.economia_contenido
            img.economia_imagen(src="./imagenes/confecciones.jpg", alt="")
            div.economia_parrafo
              a.contenido_link-economia(href="") economia
              h3.economia_sub_titulo confecciones y calzado producidos en paises de la Comunidad Andina llevarán una misma etiqueta
              a.contenido_link-redaccion(href="") redaccion peru 21    

       
          
          div.economia_contenido
            img.economia_imagen(src="./imagenes/exportaciones.jpg", alt="")
            div.economia_parrafo
              a.contenido_link-economia(href="") economia
              h3.economia_sub_titulo Minsa anuncia primera transferencia de S/395.8 Millones para financiar aseguramiento universal
              a.contenido_link-redaccion(href="") redaccion peru 21                  